<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284945326682-fr9cotql7ucj1q2denj91415dl1pookm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284945326682-fr9cotql7ucj1q2denj91415dl1pookm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284945326682-01ffhkaqlglou246mclg0q10d2agab1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnIZzH2R7XNAKcA80JRWPeNZ8-bWNS-4I</string>
	<key>GCM_SENDER_ID</key>
	<string>284945326682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ishan.quizapp.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-91c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-91c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284945326682:ios:09d0da033e5f348ea52e63</string>
</dict>
</plist>